---
const { text } = Astro.props;
---

<button
  id="myBtn"
  class="rounded-xl bg-blue-600 px-6 py-2 text-white hover:bg-blue-500"
>
  {text}
</button>

<script>
  const btn = document.getElementById("myBtn");

  btn?.addEventListener("click", () => {
    alert("Button clicked!!");
  });
</script>
